.intro-container {
  padding: 1rem;
  max-width: 36rem;
  margin-inline: auto;
}

.intro-title {
    font-size: 2.2rem;
    padding: 0.5rem 0;
    font-weight: 700;
    color: #ba0f30;
    text-align: center;
}

.intro-para {
    font-size: 1rem;
    color: #333;
    text-align: center;
    word-wrap: break-word;
}

.selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 7rem;
  height: 7rem;
  /* padding: 0.8rem 1.6rem; */
  border: 2px solid #e0e0e0;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
}

.menu-item.clicked {
  border: 2px solid #c22d49; 
}

.calendar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
  padding: 1.5rem;
}

.time-container, .guest-container, .request-container, .info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}

